$heroBottom: -14px;
$heroJump: 200px;
$heroJumpMb: 100px;
$heroBottomMb: -7px;

.main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.score {
    position: absolute;
    top: 10px;
    right: 10px;

    @media (max-width: 768px) {
        font-size: 10px;
    }
}

.gameBoard {
    position: relative;
    overflow: hidden;
    height: 100vh;
    border: 1px solid #333;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    background: linear-gradient(#87CEEB, #E0F6FF);

    @media (max-width: 768px) {
        height: 100dvh;
    }
}

.obstacle {
    position: absolute;
    bottom: 0;
    right: -80px;
    width: 80px;

    @media (max-width: 768px) {
        width: 50px;
        height: 50px;
    }
}

.obstacleAnimate {
    animation: obstacle-animation 2s infinite linear;

    @media (max-width: 768px) {
        animation: obstacle-animation 1.5s infinite linear;
    }
}

.hero {
    position: absolute;
    bottom: $heroBottom;

    @media (max-width: 768px) {
        width: 80px;
        height: 80px;
        bottom: $heroBottomMb;
    }
}

.heroEnd {
    content: url('/batman-end.gif');
}

.obstacleEnd {
    animation-play-state: paused;
}

.gameOver {
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: red;

    @media (max-width: 768px) {
        text-align: center;
        font-size: 30px;
        width: 90%;
    }
}

.gameOverRetry {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: black;

    @media (max-width: 768px) {
        margin-top: 20px;
        font-size: 20px;
    }

    &:hover {
        cursor: pointer;
        color: red;
    }
}

.personalBest {
    margin-top: 10px;
    font-size: 16px;
    color: black;
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.scoreMessage{
    margin-top: 10px;
    font-size: 14px;
    color: black;
    @media (max-width: 768px) {
        font-size: 10px;
    }
}

.gameOverShow {
    display: block;
}

.jump {
    animation: jump 1s;

    @media (max-width: 768px) {
        animation: jumpMb 1s ease-out;
    }
}

.clouds {
    top: 20px;
    position: absolute;
    animation: cloud-animation 20s infinite linear;

    @media (max-width: 768px) {
        top: 40px;
        height: 200px;
    }
}

.cloudsEnd {
    animation-play-state: paused;
}

@keyframes obstacle-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }

}

@keyframes cloud-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: $heroBottom;
        content: url('/frame-70.gif');
    }

    40% {
        bottom: $heroJump;
        content: url('/frame-20.gif');
    }

    50% {
        bottom: $heroJump;
    }

    60% {
        bottom: $heroJump;
    }

    100% {
        bottom: $heroBottom;
        content: url('/frame-80.gif');
    }
}

@keyframes jumpMb {
    0% {
        bottom: $heroBottomMb;
        content: url('/frame-70.gif');
    }

    40% {
        bottom: $heroJumpMb;
        content: url('/frame-20.gif');
    }

    50% {
        bottom: $heroJumpMb;
    }

    60% {
        bottom: $heroJumpMb;
    }

    100% {
        bottom: $heroBottomMb;
        content: url('/frame-80.gif');
    }
}